<div class="w">
    <div class="per-det">
        <img src="https://avatars.githubusercontent.com/u/58258370" alt="Richard's avatar">
        <caption>Richard Prakash</caption>
    </div>
    <div class="skills">
        <p>Skills</p>
        <ul>
            <li>C#</li>
            <li>.NET framework & dotnet Core</li>
            <li>Webforms, MVC with Views & api</li>
            <li>EF6 & EF Core</li>
            <li>Angular</li>
            <li>HTML, CSS & JavaScript</li>
            <li>SQL, MongoDB</li>
        </ul>
    </div>
</div>