@mixin card-bg {
    
}

div.res {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 550px 1fr;
    gap: 1em;
    // max-height: calc(100vh - 10em);
    > div.personal {
        @include card-bg();
        flex: 0.5;
    }
    > div.emp-history {
        @include card-bg();
        flex: 1;
    }
}
